@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityResource> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>@ViewData["Title"] - Project Management</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/e10f38e7b7.js"></script>
    <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-pie.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="bg-white border-bottom box-shadow mb-3 navbar navbar-expand-sm navbar-light navbar-toggleable-sm">
            <div class="container">
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target=".navbar-collapse"
                        data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse d-sm-inline-flex flex-sm-row-reverse navbar-collapse">
                    <partial name="_LoginPartial" />
                    <ul class="flex-grow-1 navbar-nav ul-li-anim">
                        <li active-when="/Home/Index" class="nav-item">
                            <a asp-action="Summary" asp-area="" asp-controller="Home" class="nav-link">Home</a>
                        </li>
                        <li active-when="/Projects/Index" class="nav-item">
                            <a asp-action="Index" asp-area="" asp-controller="Projects" class="nav-link">Projects</a>
                        </li>

                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Manager"))
                        {
                            <li active-when="/Qualifications/Index" class="nav-item">
                                <a asp-action="Index" asp-area="" asp-controller="Qualifications" class="nav-link">Qualifications</a>
                            </li>
                            <li active-when="/Skills/Index" class="nav-item">
                                <a asp-action="Index" asp-area="" asp-controller="Skills" class="nav-link">Skills</a>
                            </li>

                            <li class="nav-item">
                                @await Component.InvokeAsync("AdminMenu")
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main class="pb-3" role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Project Management
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>