a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {  color: #0366d6;}

.btn { border: 0; }

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html { font-size: 14px;}

@media (min-width: 768px) {
  html { font-size: 16px; }
}

.border-top { border-top: 1px solid #e5e5e5; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body { margin-bottom: 60px; }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.body-bg-image {
    margin: 0 auto;
    background-image: url('../assets/image13.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.vh-70 { height: 70vh; }

.ul-li-anim li {
    text-align: center;
    text-transform: uppercase;
}

.ul-li-anim a:hover { color: #000000 !important; }

.ul-li-anim li > a:after {
    content: '';
    display: block;
    height: 2px;
    background: #000000;
    transform: scaleX(0);
    transition: transform .3s;
}

.ul-li-anim li > a:hover:after {
    transform: scaleX(1);
    transition: transform .3s;
}

.btn-square {
    border-radius: 0;
    width: 184px;
    height: 46px;
    color: #fff;
    font-size: 1rem;
    background-color: #1b6ec2;
    border-color: #1861ac;
    font-family: Roboto, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
}

.main-title {
    font-family: Roboto, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #373A3C;
}
header { height: 60px; }

.btn-widget {
    width: 240px;
    height: 90px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

.yellow {
    background: #E2C57B;
    background-color: #E2C57B;
    border-color: #E2C57B;
    border-radius: 6px;
}

.red {
    background: #DC7575;
    background-color: #DC7575;
    border-color: #DC7575;
    border-radius: 6px;
}

.green {
    background: #5FD3B1;
    background-color: #5FD3B1;
    border-color: #5FD3B1;
    border-radius: 6px;
}

.blue {
    background: #4094E2;
    background-color: #4094E2;
    border-color: #4094E2;
    border-radius: 6px;
}

.yellow:hover,
.yellow:focus,
.yellow:active,
.open > .dropdown-toggle.yellow {
    color: #fff;
    background-color: #c7ad6c;
    border-color: #c7ad6c;
}

.red:hover,
.red:focus,
.red:active,
.open > .dropdown-toggle.red {
    color: #fff;
    background-color: #be6464;
    border-color: #be6464;
}

.green:hover,
.green:focus,
.green:active,
.open > .dropdown-toggle.green {
    color: #fff;
    background-color: #4fb395;
    border-color: #4fb395;
}

.blue:hover,
.blue:focus,
.blue:active,
.open > .dropdown-toggle.blue {
    color: #fff;
    background-color: #3b7cb8;
    border-color: #3b7cb8;
}

.vertical-center {
    min-height: calc(100vh - 1rem - 60px - 60px);
    display: flex;
    align-items: center;
}

.inline-cetner {
    text-align: center;
    line-height: 50px;
}

.anychart-credits {
    display: none
}