a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {  color: #0366d6;}

.btn {
    border: 0;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html { font-size: 14px;}

@media (min-width: 768px) {
  html { font-size: 16px; }
}

.border-top { border-top: 1px solid #e5e5e5; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body { margin-bottom: 60px; }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.body-bg-image {
    margin: 0 auto;
    background-image: url('../assets/image13.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.vh-70 { height: 70vh; }

.ul-li-anim li {
    text-align: center;
    text-transform: uppercase;
}

.ul-li-anim a:hover {
    color: #000000 !important;
}

.ul-li-anim li > a:after {
    content: '';
    display: block;
    height: 2px;
    background: #000000;
    transform: scaleX(0);
    transition: transform .3s;
}

.ul-li-anim li > a:hover:after {
    transform: scaleX(1);
    transition: transform .3s;
}

.btn-square {
    border-radius: 0;
    width: 184px;
    height: 46px;
    color: #fff;
    font-size: 1rem;
    background-color: #1b6ec2;
    border-color: #1861ac;
    font-family: Roboto, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
}

.main-title {
    font-family: Roboto, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #373A3C;
} 