@{ Layout = "_NotAuthLayout"; }

<section class="align-items-center d-flex justify-content-center text-center vh-70">
    <div>
        <h1 class="main-title text-uppercase">Project management platform</h1>
        <a asp-area="Identity" asp-page="/Account/Login">
            <button class="btn btn-lg btn-primary btn-square mt-2 text-uppercase">Get started</button>
        </a>
    </div>
</section> 